body {
    font-family: monospace;
    margin: 0 0 0 28px;
    background-color: #F2F2F2;
}

input {
    padding: 5px;
    border-radius: 5px;
    border: none;
    background-color: #dedede;
    margin-bottom: 10px;
    font-family: monospace;
}
input::placeholder {
    color: #b0b0b0;
}

label {
    display: inline-block;
    font-weight: bold;
}

select{
    font-family: monospace;
}

.space{
    margin: 90px;
}

/* Other */
.row{
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
    margin-left: 5%;
    margin-right: 5%;
}
.course-col{
    flex-basis: 31%;
    background: #d7d7d7;
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 20px;
    box-sizing: border-box;
    transition: 0.5s;
}
.course-col:hover{
    box-shadow: 0 0 20px 0px rgba(0,0,0,0.3);
}



/* ERROR HANDLE */
.error-message{
    color: #e53a1c;
    padding: 10px;
    font-size: 16px;
    margin-bottom: 20px;
}


/* BUTTONS */
.play-btn{
    padding: 10px;
    text-decoration: none;
    background-color: #242F40;
    border-color: transparent;
    color: #FFFFFF;
    border-radius: 10px;
}
.play-btn:hover {
    background-color: #425575;
    transition: 0.4s ;
}
.play-btn:active{
    background-color: #425575;
    transition: 0.2s ;
}
.edit-btn{
    padding: 10px;
    text-decoration: none;
    background-color: #CCA43B;
    border-color: transparent;
    color: #242F40;
    border-radius: 10px;
    cursor: pointer;
}
.delete-btn{
    padding: 10px;
    background-color: #cc513b;
    border-color: transparent;
    color: #242F40;
    border-radius: 10px;
    font-family: monospace;
    cursor: pointer;
    text-decoration: none;
}
.delete-btn:hover{
    background-color: #d9563e;

}
.add-Btn {
    background-color: #242F40;
    color: white;
    font-size: 16px;
    padding: 10px;
    border-radius: 10px;
    border-color: transparent;
    cursor: pointer;
    text-decoration: none;
}
.add-Btn:hover{
    cursor: pointer;
    background-color: #2f3d54;
}
.add-Btn:active{
    background-color: #425575;
    transition: 0.2s ;
}
.save-Btn{
    background-color: #CCA43B;
    font-size: 24px;
    padding: 15px;
    border-radius: 20px;
    border-color: transparent;
    margin-top: 10px;
    cursor: pointer;
}

.close-btn{
    background-color: #d2442b;
    padding: 10px;
    border-radius: 5px;
    border-color: transparent;
    margin-left: 10px;
    cursor: pointer;
    font-family: monospace;
    font-size: 16px;
    color: white;
}
.close-btn:hover {
    background-color: #e15238;
}
.submit-btn{
    background-color: #CCA43B;
    font-size: 20px;
    padding: 10px;
    border-radius: 5px;
    border-color: transparent;
    font-family: monospace;
    transition: 0.4s;
    cursor: pointer;
    width: 120px;
    height: 50px;

}
.submit-btn:hover{
    background-color: #a67d0e;
    color: white;
}
.submit-btn:active{
    background-color: #2D333B;
    color: white;
}




@media (max-width: 700px){
    .row{
        flex-direction: column;
    }
}
