body {
    font-family: monospace;
    margin: 0 0 0 27px;
    background-color: #F2F2F2;
}
input {
    padding: 5px;
    border-radius: 5px;
    border: none;
    min-width: 220px;
    background-color: #E5E5E5;
    margin: 10px;
    font-family: monospace;
}

input::placeholder {
    color: #b0b0b0;
}
label {
    display: inline-block;
    font-weight: bold;
}


.space{
    margin: 100px;
}

.row{
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
}
.course-col{
    flex-basis: 31%;
    background: #d7d7d7;
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 20px;
    box-sizing: border-box;
    transition: 0.5s;
}
.course-col:hover{
    box-shadow: 0 0 20px 0px rgba(0,0,0,0.3);
}

.error-message{
    color: #e53a1c;
    padding: 10px;
    font-size: 16px;
    margin-bottom: 20px;
}


.play-btn{
    padding: 10px;
    text-decoration: none;
    background-color: #242F40;
    border-color: transparent;
    color: #FFFFFF;
    border-radius: 10px;
}
.edit-btn{
    padding: 10px;
    text-decoration: none;
    background-color: #CCA43B;
    border-color: transparent;
    color: #242F40;
    border-radius: 10px;
    cursor: pointer;

}
.delete-btn{
    padding: 8px;
    background-color: #cc513b;
    border-color: transparent;
    color: #242F40;
    border-radius: 10px;
    font-family: monospace;
    cursor: pointer;

}
.add-Btn {
    background-color: #242F40;
    color: white;
    font-size: 16px;
    padding: 10px;
    border-radius: 20px;
    border-color: transparent;
    margin-top: 10px;
    cursor: pointer;

}
.add-Btn:hover{
    cursor: pointer;
    background-color: #2f3d54;
}
.add-Btn:active{
    background-color: #425575;
    transition: 0.2s ;
}
.save-Btn{
    background-color: #CCA43B;
    font-size: 24px;
    padding: 15px;
    border-radius: 20px;
    border-color: transparent;
    margin-top: 10px;
    cursor: pointer;

}

.close-btn{
    background-color: #cc513b;
    padding: 10px;
    border-radius: 5px;
    border-color: transparent;
    margin-left: 10px;
    cursor: pointer;

}

.submit-btn{
    background-color: #CCA43B;
    font-size: 20px;
    padding: 20px;
    border-radius: 5px;
    border-color: transparent;
    min-width: 160px;
    font-family: monospace;
    transition: 0.2s;
    cursor: pointer;
}
.submit-btn:hover{
    background-color: #a67d0e;
}
.submit-btn:active{
    background-color: #2D333B;
    color: white;
}

@media (max-width: 700px){
    .row{
        flex-direction: column;
    }
}
